body {
  font-family: "Roboto", sans-serif;
  color: #434455;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

/* Header start */
.header {
}
.header-navigation {
}
.navigation-logo {
  color: #2e2f42;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.navigation-logo-part-color {
  color: #4d5ae5;
}
.navigation-list {
}
.navigation-list-item {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.navigation-list-item-link {
}
.header-adress {
  font-style: normal;
}
.adress-list {
}
.adress-list-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.address-list-item-mail {
}
.address-list-item-tel {
}
/* Header end */

/* Section hero-banner start */
.hero-banner {
  background-color: #2e2f42;
  width: 1440px;
  height: 600px;
}
.hero-banner-title {
  color: #fff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
}
.hero-banner-button {
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  color: #fff;
}
/* Section hero-banner end*/
